<footer>
  <div class="row">
    <div class="col-12 mt-5 footer-nav bg-dark text-center">
      <ul>
        <li><a href="/">Email</a></li>
        <li><a href="/">Github</a></li>
        <li><a href="/">Linkedin</a></li>
      </ul>
    </div>
  </div>
</footer>