body {
  height: 100%;
}

.message-area {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  overflow-y: scroll;
}

.full-width-form {
  width: 100% !important;
}

.message-field {
  width: 80% !important;
}

.round-img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}