body {
  background-image: url(https://images.pexels.com/photos/227433/pexels-photo-227433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100vh;
}

form {
  color: white;
}

h1 {
  color: white;
  font-size: 4.2em;
  font-family: 'Rubik', sans-serif;
}

h3 {
  color: white;
  font-size: 2.2em;
  font-family: 'Rubik', sans-serif;
}

p {
  color: white;
  font-family: 'Lato', sans-serif;
}

.form-style {
  background-color: rgba(255, 255, 255 , 0.25);
  border-radius: 5px;
  padding: 25px;
}